.login-container {
    display: flex;
}
.login-form {
    height: 100vh;
    width:50vw;
    margin-top: 5%;
    padding: 3%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}
.login-logo{
    width: 40%;
    margin-left: 25%;
}
.login-input{
    background-color: transparent;
    padding: 1rem;
    border: 0.1rem solid #4e0eff;
    border-radius: 0.4rem;
    width: 100%;
    font-size: 1rem;
    &:focus {
      border: 0.1rem solid #997af0;
      outline: none;
    }
}

.login-btn{
    background-color: #0a6dfc;
    padding: 1rem 2rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.4rem;
    font-size: 1rem;
    text-transform: uppercase;
    &:hover {
      background-color: #3e7fcf;
    }
}

.login-span{
    text-transform: uppercase;
    a {
      color: #4e0eff;
      text-decoration: none;
      font-weight: bold;
    }
}

.login-with{
    display: flex;
   width: 60%;
   margin-left: 40%;
   /* border: 1px solid red; */
}

.login-auth{
    margin-left: 1%;
    width: 15%;
    cursor: pointer;
}

.login-image {
 margin-top: 1%;
}

.login-link {
  color: #4e0eff;
  text-decoration: none;
  font-weight: bold;
}

.login-link:hover {
  color: #0a60ca;
}


@media screen and (max-width: 768px) {
    .login-form {
      width: 80vw;
      margin-left: 5%;
    }
  
    .login-logo {
      width: 60%;
      margin-left: 10%;
    }
  
    .login-with {
      width: 80%;
      margin-left: 20%;
    }
    .login-image {
        display: none;
      }
      .login-link {
        color: #4e0eff;
        text-decoration: none;
        font-weight: bold;
      }
      
      .login-link:hover {
        color: #0a60ca;
      }
  }
  
  @media screen and (max-width: 480px) {
    .login-form {
      width: 90vw;
      margin-left: 5%;
    }
  
    .login-logo {
      width: 80%;
      margin-left: 10%;
    }
  
    .login-with {
      width: 90%;
      margin-left: 20%;
    }

    .login-image {
        display: none;
      }
      .login-link {
        color: #4e0eff;
        text-decoration: none;
        font-weight: bold;
      }
      
      .login-link:hover {
        color: #0a60ca;
      }
  }